.damBord
{
    position: absolute;
    display: table;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.whiteCase, .blackCase
{
    width: 12vw;
    height: 12vw;
    float: left;
}
.whiteCase
{
    background-color: beige;
}
.blackCase
{
    background-color: black;
}
.clear
{
    clear: both;
}